# EditorConfig -- https://editorconfig.org
# Supported by VS Code, Vim, JetBrains, Sublime, Neovim, Emacs, and more.
# No plugin needed in most modern editors.

root = true

[*]
charset                  = utf-8
end_of_line              = lf
insert_final_newline     = true
trim_trailing_whitespace = true

[*.py]
indent_style  = space
indent_size   = 4
max_line_length = 88

[*.toml]
indent_style = space
indent_size  = 4

[*.yml]
indent_style = space
indent_size  = 2

[*.md]
# Don't trim trailing whitespace in Markdown -- two spaces = intentional line break
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
